<div id="<%= dom_id prompt %>">
  <p>
    <strong>Title:</strong>
    <%= prompt.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt.description %>
  </p>

  <p>
    <strong>Prompt image:</strong>
    <%= image_tag prompt.data_url %>
  </p>

  <p>
    <strong>Generated images:</strong>
    <%= turbo_stream_from :predictions %>
    <div id="<%= dom_id(prompt, :predictions) %>">
      <%= render prompt.predictions %>
    </div>
  </p>
</div>
