<p style="color: green"><%= notice %></p>

<%= render @prompt %>

<div>
  <%= link_to "Edit this prompt", edit_prompt_path(@prompt) %> |
  <%= link_to "Back to prompts", prompts_path %>

  <%= button_to "Destroy this prompt", @prompt, method: :delete %>
</div>
